<nav aria-label="Page navigation" >
    <!-- <ul class="pagination justify-content-center">
      <li
        class="page-item"
        [class.disabled]="currentPage === 1"
        *ngIf="currentPage !== 1"
      >
        <a
          class="page-link btn btn-sm btn-outline-primary"
          (click)="goToPage(1)"
        >
          First
        </a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a
          class="page-link btn btn-sm btn-outline-primary mx-1"
          (click)="goToPage(currentPage - 1)"
          >{{ currentPage }}</a
        >
      </li>
      <li
        class="page-item"
        [class.disabled]="currentPage === getTotalPages()"
      >
        <a
          class="page-link btn btn-sm me-1 rounded btn-outline-primary"
          (click)="goToPage(currentPage + 1)"
          >{{ currentPage + 1 }}</a
        >
      </li>
      <li
        class="page-item"
        [class.disabled]="currentPage === getTotalPages()"
        *ngIf="currentPage !== getTotalPages()"
      >
        <a
          class="page-link btn btn-sm btn-outline-primary"
          (click)="goToPage(getTotalPages())"
          >Last</a
        >
      </li>
    </ul> -->
    <!-- ========================================= -->
    <!-- <ul class="pagination justify-content-center mt-3">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="goToPage(currentPage - 1)">Previous</a>
        </li>
        <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="i + 1 === currentPage">
          <a class="page-link" (click)="goToPage(i + 1)">{{ i + 1 }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages()">
          <a class="page-link" (click)="goToPage(currentPage + 1)">Next</a>
        </li>
      </ul> -->

    <!-- ================================== -->
    <!-- <ul class="pagination justify-content-center mt-3">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="goToPage(currentPage - 1)">Previous</a>
        </li>
        <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="i + 1 === currentPage">
          <a class="page-link" (click)="goToPage(i + 1)">{{ i + 1 }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" (click)="goToPage(currentPage + 1)">Next</a>
        </li>
      </ul> -->
  </nav>