<div>
    <!-- <h3>WIP</h3> -->
    <div class="row table-responsive" style="height: 600px;" >
      <div class="row mb-3">
        <div class="col-md-12">
          <label for="txtLocation" class="form-label">Enter Location Name</label>
          <input type="text" class="form-control" 
            id="txtProcessBayOutLocation"
            [(ngModel)]="filterText" 
            (ngModelChange)="onFilterChange(filterText)"
            placeholder="Filter by location">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
            <button type="button" 
          (click)="getRepackagedJobs()" 
          class="btn btn-success mt-2"
        >
          Refresh
        </button>
        </div>
      </div>

      <table class="table table-striped" style="width:100%">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ref. No</th>
            <th scope="col">Description</th>
            <th scope="col">Location (Bay)</th>
            <th scope="col">Total Weight</th>
            
            <th scope="col">Container</th>
            <th scope="col">Quantity</th>
            <th scope="col">Percentage</th>
            <!-- <th scope="col">Action</th> -->
          </tr>
        </thead>
        <tbody class="table-group-divider">
          
          <ng-container *ngFor="let job of repackagedJobs; let i = index">
            <tr>
              <th> {{ i+1 }}</th>
              <td>{{ job.jobReference}}</td>
              <td>{{ job.itemDescription }}</td>
              <td>{{ job.processingBayName }}</td>
              <td>{{ job.totalWeight}}</td>
              <td>{{ job.containerName}}</td>
              <td>{{ job.quantity}}</td>
              <td>{{ job.percentageQty | percent }}</td>
              <!-- <td>{{ job.weight }}</td> -->
              
              
            </tr>
          </ng-container>
         
        </tbody>
        <!-- <tfoot>
          <button type="button" 
            (click)="getRepackagedJobs()" 
            class="btn btn-success mt-2"
          >
            Refresh
          </button>
        </tfoot> -->
      </table>
    </div>
</div>