<nav>
    <h2>Site Clear</h2>
    <!-- <a routerLink="/login" style="margin-left: auto; color: white;">Login</a> -->
    <!-- <div *ngIf="isLoggedIn">
        <a *ngIf="userRole === 'admin'" routerLink="/about">Admin</a>
        <a *ngIf="userRole === 'user'" routerLink="/contact">User</a>
        <a (click)="logout()" style="margin-left: auto; color: white; cursor: pointer;">Logout</a>
    </div>
    <a *ngIf="!isLoggedIn" routerLink="/login" style="margin-left: auto; color: white;">Login</a>     -->
</nav>