<div class="wrapper">
    <!-- <h3>Re-Packaging Waste</h3> -->
    <form [formGroup]="repackageForm" class="row g-3 p-3">
        

        <div class="col-sm-12">
            <label for="" class="form-label">Reference No: {{ jobReference }}</label>
        </div>
        <div class="col-sm-12">
            <label for="" class="form-label">Description: {{ itemDescription }}</label>
        </div>
        <div class="col-sm-12">
            <label for="totalQty" class="form-label">Available Quantity (Kg)</label>
            <input 
                type="text" 
                class="form-control" 
                id="availableQty"
                [readonly]="true"
                [ngClass]="{'disabledBg': true}"
                formControlName="availableQty">
        </div>
        <div class="col-sm-12">
            <label for="packageType" class="form-label">Recepticle Container</label>
            <select id="inputState" (change)="getSelectedContainer()" formControlName="container"  class="form-select">
                <option selected>Choose...</option>
                <option 
                    *ngFor="let item of containerTypes"
                    [ngValue]="item"
                    value="{{ item.id}}"> {{ item.name}}
                </option>
            </select>
        </div>

        <!-- <div class="col-sm-12">
            <label for="unit" class="form-label">Unit</label>
            <input type="text" 
                class="form-control" 
                id="unit"
                formControlName="unit">
        </div> -->
        
        <div class="col-sm-12">
            <label for="quantity" class="form-label">Quantity (Kg)</label>
            <input type="text" 
                class="form-control" 
                id="quantity" 
                autocomplete="off"
                (keyup)="calculatePercentage()"
                formControlName="quantity">
        </div>

        <div class="col-sm-12">
            <label for="percentageQty" class="form-label">Percentage Value %</label>
            <input type="text" 
                class="form-control" 
                id="percentageQty"
                [value] = "PercentageValue.value | percent "
                [readonly]="true"
                [ngClass]="{'disabledBg': true}"
                formControlName="percentageQty">
        </div>
        <div class="col-sm-12">
            <label for="availableQty" class="form-label">Remaining Capacity (Kg)</label>
            <input type="text" 
                class="form-control" 
                id="remainingQty"
                [readonly]="true"
                [ngClass]="{'disabledBg': true}"
                formControlName="remainingQty">
        </div>
        <div class="col-sm-4">
            <button 
                *ngIf="saveEntries"
                class="btn btn-sm btn-primary" 
                (click)="saveEntry()"
                [disabled]="!saveEntries"
            >
                Save Entry
            </button>

            <button 
                *ngIf="!saveEntries"
                class="btn btn-sm btn-primary" 
                (click)="completeRepackaging()"
                [disabled]="repackageForm.invalid"
            >
                Process More
            </button>
          </div>
    </form>
    <div class="table-responsive" *ngIf="repackagedItems.length > 0">
        <h5>Repackage Summary</h5>
        <table class="table table-striped" >
            <thead>
                <tr>
                    <th>#</th>
                    <th>Recpticle Container</th>
                    <th>Quantity</th>
                    <th>Percentage</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let item of repackagedItems; let index = index">
                    <td>{{ index + 1 }}</td>
                    <td>{{ item.container.name }}</td>
                    <td class="text-end">{{ item.quantity }}</td>
                    <td class="text-end">{{ item.percentageQty | percent }}</td>
                </tr>
            </tbody>
            <tfoot class="table-group-divider" *ngIf="saveEntries">
                <tr>
                    <th class="row ms-1">Total</th>
                    
                    <td colspan="2" class="text-end"> {{ totalDistribution }}</td>
                    <td class="text-end"> {{ totalPercentage | percent }}</td>
                    <!-- <td></td> -->
                </tr>
            </tfoot>
        </table>
    </div>
</div>