<!-- <div class="row">
  <div class="col-lg-6">
    <h2>Income Analysis</h2>
    <canvas id="barchart"></canvas>
  </div>
  <div class="col-lg-6">
    <h2>Income Analysis</h2>
    <canvas id="dochart"></canvas>
  </div>
  <div class="col-lg-6">
    <h2>Income Analysis</h2>
    <canvas id="piechart"></canvas>
  </div>
  <div class="col-lg-6">
    <h2>Income Analysis</h2>
    <canvas id="dochart"></canvas>
  </div>
  <div class="col-lg-6">
    <h2>Income Analysis</h2>
    <canvas id="radarchart"></canvas>
  </div>

  <div class="col-lg-6">
    <h2>Income Analysis</h2>
    <canvas id="pochart"></canvas>
  </div>

  <div class="col-lg-6">
    <h2>Income Analysis</h2>
    <canvas id="bubblechart"></canvas>
  </div>
  <div class="col-lg-6">
    <h2>Income Analysis</h2>
    <canvas id="scatterchart"></canvas>
  </div>
</div> -->
<!-- class="shadow-lg p-3 mb-5 bg-body-tertiary rounded"/ -->
 <h3>Hello, Welcome.</h3>
<div class="row">
  <div class="col">
    <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded text-center" style="background-color: #ffffff !important;">
      <!-- <div class="card-header">
        <h5>Processing Yard</h5>
      </div> -->
      <img src="../../assets/images/process-symbol.jpg" width="120" height="120" style="margin: 0 auto;" alt="">
      <div class="card-body">
        <h5 class="card-title">This is the processing bay tile</h5>
        <p class="card-text">To view more clock on the botton below.</p>
        <!-- <blockquote class="blockquote">
          <p>A well-known quote, contained in a blockquote element.</p>
          <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote> -->
        <a routerLink="/yard" class="btn btn-primary">Go to Yard</a>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded text-center" style="background-color: #ffffff !important;">
      <!-- <div class="card-header">
        <h5>Out Bay Station</h5>
      </div> -->
      <img src="../../assets/images/storage.jpeg" width="120" height="120" style="margin: 0 auto;" alt="">
      <div class="card-body" >
        <h5 class="card-title">This tile displays the Holding Bays Contents</h5>
        <p class="card-text">To view more clock on the botton below.</p>
        <a routerLink="/dashboard" class="btn btn-primary">Go to Holding Bays</a>
      </div>
      <!-- <div class="card-footer text-body-secondary">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div> -->
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card border-secondary">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card border-dark">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div> -->

<!-- <div>
    <h2>Welcome to the Content Page</h2>
    <p>This is where your main content will be displayed.</p>
  </div> -->