<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <!-- <button class="nav-link active" id="nav-outbay-tab" data-bs-toggle="tab" data-bs-target="#nav-outbay" type="button" role="tab" aria-controls="nav-outbay" aria-selected="true">OutBay Management</button> -->
      <button class="nav-link active" id="nav-users-tab" data-bs-toggle="tab" data-bs-target="#nav-users" type="button" role="tab" aria-controls="nav-users" aria-selected="false">User Management</button>
      <!-- <button class="nav-link" id="nav-create-tab" data-bs-toggle="tab" data-bs-target="#nav-create" type="button" role="tab" aria-controls="nav-create" aria-selected="false">Create Job</button> -->
      <!-- <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false" disabled>Disabled</button> -->
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <!-- <div class="tab-pane fade show active" id="nav-outbay" role="tabpanel" aria-labelledby="nav-outbay-tab" tabindex="0">
        <h3>This is for management of Outbays</h3>
    </div> -->
  
    <div class="tab-pane fade show active" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab" tabindex="0">
      <app-user-management></app-user-management>
    </div>
    <!-- <div class="tab-pane fade" id="nav-create" role="tabpanel" aria-labelledby="nav-create-tab" tabindex="0">
       <h3>Yet to include content</h3>
    </div> -->
    <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">
      <h1>Blessed</h1>
    </div>
  </div>