<div class="toast-container position-fixed top-0 end-0 p-3 rounded" style="z-index: 1070;">
    <div *ngFor="let toast of toasts; let i = index" 
         class="toast show" 
         role="alert" 
         aria-live="assertive" 
         aria-atomic="true">
      <div class="toast-header rounded">
        <strong class="me-auto">Notification</strong>
        <button type="button" class="btn-close" (click)="removeToast(i)"></button>
      </div>
      <div class="toast-body rounded" [ngClass]="'text-bg-' + toast.type">
        <!-- <span class="icon">&excl;</span> -->
        {{toast.message}}
      </div>
    </div>
</div>

<!-- <div class="toast-container">
  
  <div class="toast-content">
    <span class="icon">!</span>
    <span>Web Worx</span>
  </div>
</div> -->