<div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
</div>

<div *ngIf="!isLoading">
    <!-- <div *ngIf="alertMessage != '' " class="alert alert-{{alertType}} alert-dismissible" role="alert">
        <strong>{{messageType}}!</strong> {{ alertMessage }}    
    </div> -->
    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <h5 class="p-3">Create New Job</h5>
        <form [formGroup]="form" class="row g-3 p-3">
            <!-- <div class="row"> -->

                <!--  -->
                <div class="col-md-4">
                    <label for="packageType" class="form-label">Origin (Processing Bay)</label>
                    <!-- <input type="text" class="form-control" id="packageType" formControlName="packageType"> -->
                    <select id="inputState" 
                        (change)="getSelectedProcessingBay($event)" 
                        formControlName="processingBayId" 
                        class="form-select">
                        <option selected>Choose Processing Bay</option>
                        <option 
                            *ngFor="let processBay of listOfProcessingBays"
                            [value]="processBay.id"> {{ processBay.name}}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="wasteStream" class="form-label">Waste Stream</label>
                    <!-- <input type="text" class="form-control" formControlName="wasteStream" id="wasteStream"> -->
                    <select id="inputState" (change)="getSelectedWasteStream()" formControlName="wasteStream"  class="form-select">
                        <option selected>Choose...</option>
                        <option 
                            *ngFor="let item of wasteStreams"
                            [ngValue]="item"
                            value="{{ item.id}}"> {{ item.name}}
                        </option>
                    </select>
                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                </div>

                <div class="col-md-4">
                    <label for="itemDescription" class="form-label">Destination (Holding Bay)</label>
                    <!-- <input type="text" class="form-control" id="itemDescription" formControlName="itemDescription"> -->
                    <select id="inputState" (change)="selectedOutBay($event)" formControlName="outBayId"  class="form-select">
                    <option selected>Choose...</option>
                    <option 
                        *ngFor="let outBay of outBays"
                        value="{{ outBay.id}}"> {{ outBay.name}}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="packageType" class="form-label">Container</label>
                    <!-- <input type="text" class="form-control" id="packageType" formControlName="packageType"> -->
                    <select id="inputState" (change)="getSelectedContainer()" formControlName="packageType"  class="form-select">
                        <option selected>Choose...</option>
                        <option 
                            *ngFor="let item of containerTypes"
                            [ngValue]="item"
                            value="{{ item.id}}"> {{ item.name}}
                        </option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="weight" class="form-label">Weight</label>
                    <input type="text" 
                        class="form-control" 
                        id="weight" 
                        formControlName="weight"
                        (keyup.enter)="calculateNetWeight()">
                </div>
                <div class="col-md-2">
                    <label for="weight" class="form-label">Net Weight</label>
                    <p>{{ netWeight }}</p>
                    <!-- <input type="text" class="form-control" id="weight" formControlName="weight"> -->
                </div>
                
                
                
            <!-- </div> -->

            <div class="col-md-12">
                <div class="row">
                    <div class="col-auto">
                        <button 
                            type="submit" 
                            (click)="createJob()" 
                            class="btn btn-primary"
                            [disabled]="!form.valid">Submit</button>
                    </div>
                    <div class="col-auto" *ngIf="!displayJobs">
                        <button 
                            type="submit" 
                            class="btn btn-primary"
                            (click)="toggleDisplayJobs()"
                            [disabled]="listOfJobs.length === 0">View Jobs</button>
                    </div>
                    <div class="col-auto" *ngIf="displayJobs">
                        <button 
                            type="submit" 
                            class="btn btn-primary"
                            (click)="toggleDisplayJobs()">Hide Jobs</button>
                    </div>
                </div>
            </div>
        </form>
        
        <!-- This is the control to search (filter) -->
        <div class="table-responsive mt-3 " *ngIf="displayJobs" >
            <div class="row mb-3">
                <div class="col-md-12">
                  <label for="txtLocation" class="form-label">Enter Location (Processing Bay) Name</label>
                  <input type="email" class="form-control" 
                    id="txtLocation"
                    [(ngModel)]="filterText" 
                    (ngModelChange)="onFilterChange(filterText)"
                    placeholder="Filter by location">
                </div>
              </div>
            <table class="table table-stripped " style="width:100%">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Waste Stream</th>
                    <th scope="col">Net Weight</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Container</th>
                    <th scope="col">Location</th>
                    <th scope="col">Action</th>
                    <!-- <th scope="col">Weight</th>
                    <th scope="col">Further Processing</th> -->
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  
                  <ng-container *ngFor="let job of filteredJobs; let i = index">
                    <tr>
                      <th> {{ i+1 }}</th>
                      <td>{{ job.wasteStream?.name}}</td>
                      <td>{{ job.weight}}</td>
                      <td>{{ job.dateCreated | date: 'dd/MM/yyyy' }} </td>
                      <td>{{ job.packageType}}</td>
                      <td>{{ job.outBay?.name }}</td>
                      <!-- <td>{{ job.weight}}</td> -->
                     
                      
                      <td>
                        <button type="button" 
                        class="btn btn-sm btn-primary" 
                        (click)="sendForDisposal(job)"
                        > Send For Disposal</button>
                      </td>
                    </tr>
                  </ng-container>
                 
                </tbody>
                <tfoot>
                    <button type="button" 
                        class="btn btn-sm btn-success mt-2"
                        (click)="getAllOutgoingJobs()" 
                        > Refresh</button>
                </tfoot>
            </table>
        </div>
    </div>
</div>