<div class="row">
    <div class="col-lg-6">
      <h2>Holding bay Analysis</h2>
      <canvas id="barchart"></canvas>
    </div>
    <div class="col-lg-6">
      <h2>Processing Bay Analysis</h2>
      <canvas id="dochart"></canvas>
    </div>
    <!-- <div class="col-lg-6">
      <h2>Income Analysis</h2>
      <canvas id="piechart"></canvas>
    </div>
    <div class="col-lg-6">
      <h2>Income Analysis</h2>
      <canvas id="dochart"></canvas>
    </div>
    <div class="col-lg-6">
      <h2>Income Analysis</h2>
      <canvas id="radarchart"></canvas>
    </div>
  
    <div class="col-lg-6">
      <h2>Income Analysis</h2>
      <canvas id="pochart"></canvas>
    </div>
  
    <div class="col-lg-6">
      <h2>Income Analysis</h2>
      <canvas id="bubblechart"></canvas>
    </div>
    <div class="col-lg-6">
      <h2>Income Analysis</h2>
      <canvas id="scatterchart"></canvas>
    </div> -->
  </div>