<div class="row g-5">
    <div class="col-lg-6">
      <h4>Haz Holding Bay</h4>
      <canvas id="haz"></canvas>
    </div>

    <div class="col-lg-6">
      <h4>WEEE Holding Bay</h4>
      <canvas id="wee"></canvas>
    </div>

    <div class="col-lg-6">
      <h4>Clinical Holding Bay</h4>
      <canvas id="clinical"></canvas>
    </div>

    <div class="col-lg-6">
      <h4>Dry Holding Bay</h4>
      <canvas id="dry"></canvas>
    </div>

    
    <!-- <div class="col-lg-6">
      <h4>Processing Bay Analysis</h4>
      <canvas id="haz1"></canvas>
    </div> -->
    <!-- <div class="col-lg-6">
      <h2>Income Analysis</h2>
      <canvas id="piechart"></canvas>
    </div>
    <div class="col-lg-6">
      <h2>Income Analysis</h2>
      <canvas id="dochart"></canvas>
    </div>
    <div class="col-lg-6">
      <h2>Income Analysis</h2>
      <canvas id="radarchart"></canvas>
    </div>
  
    <div class="col-lg-6">
      <h2>Income Analysis</h2>
      <canvas id="pochart"></canvas>
    </div>
  
    <div class="col-lg-6">
      <h2>Income Analysis</h2>
      <canvas id="bubblechart"></canvas>
    </div>
    <div class="col-lg-6">
      <h2>Income Analysis</h2>
      <canvas id="scatterchart"></canvas>
    </div> -->
  </div>