.form-area {
    width: 50rem;
    // border: solid 1px red;
    // margin: 0 auto;
}

.input-group-append {
    cursor: pointer;
  }

  .wrapper {
    // border: 1px solid green;
    // max-height: 100%;
  }

#jobDetailsModal{
    display: none;

}